.tourlist{
    width: 65vw;
    margin: 0 auto;
    padding: 2rem 0;
}

@media screen and (min-width: 750px ) { 
    .tourlist{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1.5rem;
    }
}

@media screen and (min-width: 960px) {
    .tourlist {
        width: 85vw;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1150px) {
    .tourlist {
        grid-template-columns: repeat(4, 1fr);
    }
}